streamlit>=1.36
pandas>=2.1
SQLAlchemy>=2.0
Pillow>=10.0
openpyxl>=3.1   # falls Excel-Export genutzt wird
python-dateutil # wird indirekt von pandas genutzt, schadet nicht
bcrypt
extra-streamlit-components
bcrypt>=4.0
